@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin top-border {
	border-top: .1rem solid $color-grey-dark-1;
	padding-top: 2rem;
}

@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*
 * phone
 * tablet-portrait
 * tablet-landscape
 * big-desktop
 */

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 38em) { @content };
	}
	@if $breakpoint == tablet-portrait {
		@media (max-width: 54em) { @content };
	}
	@if $breakpoint == tablet-landscape {
		@media (max-width: 75em) { @content };
	}
	@if $breakpoint == big-desktop {
		@media (min-width: 113em) { @content };
	}
}
